.latestnews-container{
    height: 400px;
    overflow-y: auto;
}
.latestnews-box-link{
    text-decoration: none;
    color: black;
}
.latestnews-box{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1vmax;
    overflow-y: auto;
}
.latestnews-image{
    width: 35%;
    margin-right: 1vmax;
}
.latestnews-image img{
    width: 100%;
}
.latestnews-details h3{
    font-size: 1.2vmax;
}
.latestnews-details p{
    font-size: 1vmax;
}
.latestnews-link-div{
    width: 95%;
    /* margin: auto; */
    background-color: rgb(130, 126, 126);
    text-align: center;
    padding: 0.7vmax 2vmax;
    /* margin-right: 1vmax; */
}
.latestnews-link{
    color: black;
    text-decoration: none;
    margin-right: 1vmax;
}